<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-6">
                            <a routerLink="/register" routerLinkActive="active" class="active" id="register-form-link">Register</a>
                        </div>
                        <div class="col-6">
                            <a routerLink="/login" routerLinkActive="active"  id="login-form-link">Login</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form 
                                id="register-form"   
                                method="post" 
                                role="form" 
                                style="display: block;"
                                ngNoForm
                                [formGroup] = "registerForm">
                                <div class="form-group">
                                    <input 
                                    type="text" 
                                    name="username"  
                                    id="username" 
                                    tabindex="1" 
                                    class="form-control" 
                                    placeholder="Username" 
                                    value=""
                                    formControlName = "name">
                                </div>
                                <div class="form-group">
                                    <input 
                                    type="text" 
                                    name="surname"  
                                    id="surname" 
                                    tabindex="1" 
                                    class="form-control" 
                                    placeholder="Surname" 
                                    value=""
                                    formControlName = "surname">
                                </div>
                                <div class="form-group">
                                    <input 
                                    type="number" 
                                    name="age"  
                                    id="age" 
                                    tabindex="1" 
                                    class="form-control" 
                                    placeholder="Age" 
                                    value=""
                                    formControlName = "age">
                                </div>
                                <div class="form-group">
                                    <input 
                                    type="email" 
                                    name="email" 
                                    id="email" 
                                    tabindex="1" 
                                    class="form-control" 
                                    placeholder="Email Address" 
                                    value=""
                                    formControlName = "email">
                                </div>
                                <div class="form-group">
                                    <input  
                                    name="passwordRegister" 
                                    id="password-register" 
                                    type="password" 
                                    tabindex="2" 
                                    class="form-control" 
                                    placeholder="Password"
                                    formControlName = "password">
                                </div>
                                <div class="form-group">
                                    <input 
                                    type="password" 
                                    name="confirmPassword"  
                                    id="confirm-password" 
                                    tabindex="2" 
                                    class="form-control" 
                                    placeholder="Confirm Password"
                                    formControlName = "password">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 offset-3">
                                            <input 
                                            type="submit" 
                                            name="register-submit" 
                                            id="register-submit" 
                                            tabindex="4" 
                                            class="form-control btn btn-register" 
                                            value="Register Now"
                                            (click)="registeHandler()">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>