<div class="quastion">What happened to you, my friend?</div>
<div class="row">
    <div class="col-6 found-main">
        <div class="found" routerLink="/found-staff">
            <div class="quastionToUser1"  routerLink="../found-staff">Did you <br> find some staff..?</div>
        </div>
    </div>
    <div class="col-6 lost-main">
        <div class="lost" routerLink="/lost-staff">
            <div class="quastionToUser2">Or looking for <br> your own..?</div>
        </div>
    </div>
</div>
<img src="../found-staff/" alt="" srcset="">


